body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff8e1;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

section {
    padding: 30px;
}
